<mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <div>
    <mat-form-field *ngIf="loggedIn">
      <input matInput ng-model="mail" placeholder="guest@mail.com" [value]='mail' />
      <button mat-raised-button (click)="invite()">Invite</button>
    </mat-form-field>
  </div>
  
  <div class="toolbar-spacer"></div>
<div>
  <!-- <mat-form-field *ngIf="loggedIn"> -->
    <button mat-raised-button *ngIf="loggedIn" (click)="calendar()">Calendar</button>
    <a mat-button [routerLink]="['profile']">Profile</a>
  <!-- </mat-form-field> -->
</div>


  <div class="toolbar-spacer"></div>


  <button mat-raised-button *ngIf="!loggedIn" (click)="login()">Login</button>

  <div class="toolbar-spacer"></div>

  <button mat-raised-button *ngIf="loggedIn" (click)="logout()">Logout</button>
</mat-toolbar>
<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>